* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 360px;
}

#clock {

}

div {
	text-align: center;
}

#d_day {
	display: block;
	font-family: 'Glory', sans-serif;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.days {
	color: white;
}

#d_time {
	display: inline-block;
	font-family: 'Orbitron', sans-serif;
	font-size: 5rem;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
}

#d_am_pm {
	display: inline-block;
	font-family: 'Glory', sans-serif;
	font-size: 1.5rem;
}

#d_date {
	display: block;
	font-family: 'Orbitron', sans-serif;
	font-size: 2.25rem;
}

.dayHighlight {
	font-weight: bold;
}

.neonText {
	color: #c6e2ff;
	animation: neon 0.5s ease-in-out infinite alternate;
}

/* Animate neon flicker */
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}
